@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
p {
  @apply text-lg leading-relaxed;
}
ul {
  @apply list-disc text-lg;
}
ol {
  @apply list-decimal text-lg;
}
ul,
ol {
  @apply pl-6;
}
a {
  color: rgb(83, 83, 247);
  text-decoration: underline;
}
pre {
  background-color: rgb(19, 19, 19);
  @apply text-white text-sm p-2 rounded;
}
code {
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 20px;
  margin-right: 20px;
  /* border-color: rgb(255, 247, 236); */
  border-left: 4px solid rgb(182, 182, 182);
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
a,
code,
pre {
  margin: 1em 0 1em 0;
}
p > img {
  width: 935px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (max-width: 768px) {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-lg;
  }
  p {
    @apply text-base leading-relaxed;
  }
}
